<h1> Student details </h1>

<p><strong>First name: </strong><%= @student.first_name %></p>
<p><strong>Last name: </strong><%= @student.last_name %></p>
<p><strong>Email: </strong><%= @student.email %></p>
<p><strong>Phone number: </strong><%= @student.phone_number %></p>
<p><strong>Address: </strong><%= @student.address %></p>
<p><strong>Contact number: </strong><%= @student.contact_number %></p>
<p><strong>Date of birth: </strong><%= @student.date_of_birth %></p>
<p><strong>Grade: </strong><%= @student.grade %></p>

<p><%= link_to "Back", students_path%> | <%= link_to "Edit", edit_student_path(@student) %> | <%= link_to 'Delete', @student, data: {method: :delete, confirm: 'Are you sure?'} %></p>